body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #9ac7e8;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}